{% extends 'base.html' %}

{% load static %}

{% block title %}About | PhotoHub{% endblock title %}

{% block content %}

    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="{% static 'img/hero.jpg' %}"></div>

    <div class="container tm-mt-60 bg-dark p-5 mb-5 shadow-lg">
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary">
                About PhotoHub Website
            </h2>
        </div>
        <div class="row tm-mb-74 tm-row-1640">            
            <div class="col-lg-5 col-md-6 col-12 mb-3">
                <img src="{% static 'img/about.jpg' %}" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-7 col-md-6 col-12">
                <div class="tm-about-img-text">
                    <p class="mb-4">
                  You may support TemplateMo website by making <a href="#" target="_blank" rel="sponsored">a small contribution</a> via PayPal. This will be helpful for us. We hope you like this PhotoHub photo / video website.</p>
                    <p>
                        <p>PhotoHub is free website for video and photo websites. You can freely use this website for a medium to showcase to the world your photography skills.</p>
                </div>                
            </div>
        </div>
    </div>

{% endblock %}