{% extends 'base.html' %}

{% load static %}

{% block title %}Category | PhotoHub{% endblock%}

{% block content %}
<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="{% static 'img/hero.jpg' %}">
	<!-- <form class="d-flex tm-search-form">
		<input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
		<button class="btn btn-outline-success tm-search-btn" type="submit">
			<i class="fas fa-search"></i>
		</button>
	</form> -->
</div>

<div class="container tm-container-content tm-mt-60">
	<div class="row mb-4">
		{% for i in cat %}
		{% if forloop.first %}
		<h2 class="col-6 tm-text-primary text-uppercase">
			{{i.category}}
		</h2>
		{% endif %}
		{% endfor %}
		<!-- <div class="col-6 d-flex justify-content-end align-items-center">
                <form action="" class="tm-text-primary">
                    Page <input type="text" value="1" size="1" class="tm-input-paging tm-text-primary"> of 200
                </form>
            </div> -->
    </div>
    <div class="row tm-mb-90 tm-gallery">
    	{% for i in cat %}
    	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
    		<figure class="effect-ming tm-video-item">
				<div class="card">
					<a href="/vdetail/{{i.id}}" target="_blank"><video src="{{i.video.url}}" class="card-img-top" autoplay loop muted></video></a>
				</div>
    		</figure>
    		<div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-dark">{{i.created_at}}</span>
                <a href="/bio"><span class="tm-text-gray-dark text-capitalize">{{i.user}}</span></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}